.modalOverlay {
  display: flex;
  justify-content: center;
  width: fit-content;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  border: 2px solid #333;
  border-radius: 8px;
}

.modalContent h1 {
  margin: 0;
  font-size: clamp(24px, 5vw, 64px);
}

.setting {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.backButton {
  width: 100%;
}
